@use '../../styles/variables.scss' as vars;

button[matFab] {
    background-color: vars.$primary-lavender !important;
    color: vars.$text-light !important;

    &:hover {
        background-color: vars.$primary-lavender-dark !important;
    }

    &:active {
        background-color: vars.$primary-lavender-darker !important;
    }
}

button[matFab] {
    border: none !important;
    outline: none !important;
    position: fixed;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    bottom: 90px;
    right: 90px;
    z-index: 1000;
}